#comic-random{
    width: 100%;
    margin: 20px 0;
}
#comic-random > .col{
    position: relative;
    display: flex;
    gap: 50px;
    height: 320px;
    padding: 60px;
    overflow: hidden;
}
.comic-random_wrap{
    display: block;
    width: 65%;
    position: absolute;
    top: 12px; right: -20%;
    z-index: 3;
}
.comic-random_wrap b{color: #ddd;}
.comic-random_background{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 320px;
    z-index: 1;
    filter: blur(14px);
    object-fit: cover;
}
.comic-random_img{
    width: 380px;
    height: auto;
    object-fit: cover;
    border: 11px solid rgb(248, 242, 242);
    border-radius: 5px;
    transform: rotate(-10deg);
    position: absolute;
    top: -47px;
    left: 10%;
    z-index: 3;
}
.comic-random_name{
    width: 65%;
    font-size: 28px;
    font-weight: 600;
    color: white;
    text-shadow: 1px 2px 3px black;
    text-transform: uppercase;
    margin-top: 4px;
    text-indent: 24px;
}
.comic-random_genre{
    display: flex;
    width: 62%;
    flex-wrap: wrap;
    gap: 12px 8px;
    margin-top: 28px;
    
}
.comic-random_genre span{
    display: block;
    border: 1px solid #ddd;
    border-radius: 3px;
    padding: 5px 12px;
    color: white;
    font-size: 15px;
    text-transform: capitalize;
    background: rgba(0,0,0,0.4);
    /* height: 34px; */
}
.comic-random_links{
    display: flex;
    gap: 12px;
    position: absolute;
    top: 120%;
    margin: 0 auto;
}
.comic-random_links a{
    display: block;
    font-size: 18px;
    font-weight: 500;
    text-decoration: none;
    color: white;
    padding: 8px 12px;
    border-radius: 5px;
    text-transform: capitalize;
    text-align: center;
    margin-bottom: 12px;
    text-shadow: 2px 2px 3px rgb(66, 65, 65);
}
.random_links-comic{ background: rgb(42, 20, 165);}
.random_links-chap{ background: rgb(189 37 114)}
.comic-random_overlay{
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;
    background: rgba(29, 51, 172, 0.4);
    z-index: 2;
}
/* ------------------------------------------------------------------- */
#comic-genre .col:nth-child(2){
    background: #fff8f8;
}
.comic-genre_title{
    font-size: 22px;
    font-weight: 600;
    text-transform: capitalize;
    background: rgb(50, 58, 104);
    color: white;
    text-shadow: 1px 1px 3px black;
}
.comic-genre_box{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 16px 12px;
}
.genre_box-item{
}
.box-item_link{
    position: relative;
}
.genre_box-item img{
    width: 100%;
    height: 200px;
    object-fit: cover;
    border: 1px solid #c7c9c9;
    border-radius: 3px;
}
.box-item_chap{
    padding: 6px 16px;
    color: rgb(90, 88, 88);   
    border-radius: 12px;
    justify-content: space-between;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    background: #f3f1f1;
}
.box-item_chap span{
    font-style: bold;
    color: #3a3a3a;
    font-size: 16px;
    font-weight: 500;
}
.box-item_chap:hover{
    color: rgb(19, 31, 143);   
}
.box-item_chap:hover .item_chap-num{
    color: rgb(19, 31, 143);   
}
.box-item_name{
    font-size: 18px;
    font-weight: 500;
    color: black;
    text-indent: 12px;
    padding: 4px 12px ;
    margin-top: 6px;
    text-transform: capitalize;
}
.box-item_name:hover{
    text-decoration: underline;
}
/* ------------------------------------------------------------------- */

#comic-nav {
    background: rgb(145, 140, 140);
}
#comic-nav .col{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px;
    position: relative;
}
.comic-nav_infor{
    border: 1px solid var(--black);
    color: var(--white);
    padding: 4px 12px;
    background: rgba(28, 7, 87, 0.4);
}
.comic-nav_infor > span{
    font-size: 24px;
    font-weight: 500;
}
.comic-nav_icon{
    font-size: 36px;
    position: absolute;
    top: 8px; right: 21px;
    color: #ddd;
    cursor: pointer;
    display: none;
}
#navIcon{display: none;}
.comic-nav_type {
    display: flex;
    gap: 8px;
    list-style: none;
    justify-content: flex-end;
    transition: 0.4s;
} 
.comic-nav_type > li {
    position: relative;
    border: 1px solid #ddd;
    padding: 6px 12px;
    border-radius: 6px;
    color: var(--white);
    cursor: pointer;
    background: rgba(29, 16, 99, 0.5);
}
.comic-nav_type > li.choose-btn{
    background: rgb(27, 14, 99);
}
.comic-nav_type >li > input{
    width: 100%; height: 100%;
    outline: none;
    border: none;
    font-size: 16px;
    background: transparent;
    color: var(--white);
    padding-right: 22px;
}
.comic-nav_type >li > i{
    position: absolute;
    top: 6px; right: 4px;
    font-size: 22px;
}
.comic-nav_type >li > input::-webkit-input-placeholder{
    color: var(--white);
    text-shadow: 1px 2px 3px var(--black);
}
.content.col {
    background: #faf7f7;
}
#list-comic{
    display: grid;
    grid-template-columns: repeat(6,1fr);
    column-gap: 12px;
    padding: 12px;
    margin: 10px 0 20px 0;
    min-height: 500px;
}
.comic-item{
    margin-bottom: 20px;
    position: relative
}
.comic-item_wrap{
    position: relative;
    display: block;
    transition: 0.3s;
}
.comic-item  section {
    position: absolute;
    top: 8px;
    right: 4px;
    color: #f5f2f2;
    text-shadow: 1px 2px 3px var(--web);
    cursor: pointer;
    font-size: 15px;
    border-radius: 20px;
    padding: 5px 14px;
    background: #152047;
}
.comic-item_wrap > ul{
    position: absolute;
    bottom: 1.5%; left: 0px; right: 0px;
    color: var(--white);
    text-shadow: 1px 2px 3px var(--black);
    background: rgba(0,0,0,0.8);
    border-radius: 3px;
    opacity: 0.8;
}
.comic-item_wrap > ul li{
    padding: 6px 12px;
    list-style: none;
    text-transform: capitalize;
}
.comic-item_wrap > ul > li > span{
    font-weight: 500;
}
.comic-genre{
    text-indent: 12px;
    max-height: 44px;
    overflow-y: scroll;
    font-style: italic;
    font-size: 15px;
    padding: 2px;
}
.comic-genre::-webkit-scrollbar{
	height: 2px;
}
.comic-genre::-webkit-scrollbar-thumb{
	background: transparent;
}
.comic-img{
    width: 100%;
    height: 280px;
    object-fit: cover;
    break-inside: avoid;
    border-radius: 5px;
    border: 1px solid var(--web);
}
.comic-item_wrap:hover{
    transform: translateY(-12px);
}
.comic-img:hover{
    opacity: 0.8;
}
.comic-infor{
    position: absolute;
    top: 60%; left: 50%;
    transform: translateX(-40%);
}
.comic-infor >i{
    font-size: 34px;
    color: rgb(106, 19, 247);
    text-shadow: 1px 2px 3px var(--white);
}
.comic-name{
    font-size: 18px;
    text-transform: capitalize;
    text-indent: 16px;
    margin: 10px 0;
    font-weight: 500;
    color: white;
    text-shadow: 1px 2px 3px var(--black);
}
.comic-chap{
    font-size: 15px;
    text-decoration: none;
    align-items: center;
    color: rgb(65, 64, 64);
}
.comic-chap:hover{
    color: var(--web);
    transition: 0.3s;
    text-decoration: underline;
}
.comic-time {
    position: absolute;
    top: 4%;
    left: 4px;
    background: rgba(0,0,0,0.5);
    text-shadow: 1px 2px 3px #191a3e;
    color: #ddd;
    padding: 3px 6px;
    border-radius: 5px;
    font-size: 14px;
    font-style: italic;
}
#extra-comic{
    position: fixed;
    top: 60px; right: 0;  left: 0;
    gap: 12px;
    width: 800px;
    margin:0 auto;
    background: rgb(161, 160, 160);
    padding: 12px;
    z-index: 999;
} 
#extra-comic.close{display: none;}
#extra-comic #background-demo{
    position: fixed;
    top: 0; right: 0; bottom: 0; left: 0;
    background: rgba(0,0,0,0.4);
}
#extra-comic form {
    background: rgba(0,0,0,0.4);
    padding: 12px;
    z-index: 9;
    position: relative;
}
#extra-comic  form .name-infor{
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 8px;
}
#extra-comic  form .box-head{
    font-size: 24px;
    color: white;
    padding-left: 20px;
    text-transform: uppercase;
    text-shadow: 1px 2px 3px #000;
    margin-bottom: 16px;
}
#extra-comic  input{
    width: 100%;
    padding: 8px 5px;
    outline: none;
    margin-top: 8px;
    font-size: 16px;
}
#extra-comic  input:first-child{
    text-transform: capitalize;
}
#extra-comic form .reload-web{
    margin-top: 20px;
    color: var(--white);
    text-indent: 20px;
    padding: 0 12px;
    display: flex;
    align-items: center;
    gap: 12px;
}
form > .reload-web #reload-btn{
    width: 26px; height: 18px;
}

#extra-comic form .box-btn{
    margin: 16px auto;
    width: 200px;
    padding: 8px 5px;
    border: 1px solid tomato;
    background: tomato;
    color: white;
    cursor: pointer;
}
.box_nav {
    margin-top: 12px;
    display: flex;
    gap: 8px;
    justify-content: center;
}
.box_nav > div{
    cursor: pointer;
    border: 1px solid #ddd;
    width: 100px;
    text-align: center;
    padding: 3px;
    
    background: rgba(0,0,0,0.2);
    color: #ddd;
}
#type-comic{
    width: 60%;
    margin-top: 8px;
    color: var(--white);
    background: rgba(0,0,0,0.4);
    padding: 4px 6px;
}
.extra-character, .extra-genre{
    text-transform: capitalize;
}
.extra-genre {
    margin: 16px 0px;
}
.extra-genre > span{
    color: var(--white);
}
.extra-genre > ul{
    background: rgba(0,0,0,0.2);
    width: 536px;
    display: flex;
    gap: 6px 8px;
    padding: 16px 12px;
    margin-top: 4px;
    overflow-x: scroll;
}
.extra-genre > ul::-webkit-scrollbar{
	height: 5px;
}
.extra-genre > ul::-webkit-scrollbar-thumb{
	background: rgb(104, 102, 102);
}
.extra-genre  ul li{
    position: relative;
    background: rgba(0,0,0,0.4);
    padding: 8px;
    border-radius: 3px;
    text-transform: capitalize;
    color: #ddd;
    cursor: pointer;
    font-size: 15px;
    list-style: none;
    text-align: center;
    border: 1px solid transparent;
}
.extra-genre  ul li.btn_choose{
    background: #363636;
    border: 1px solid var(--web);
    color: rgb(177, 173, 173);
}
.extra-genre  ul li i{
    position: absolute;
    top: -9px; right: -2px;
    font-size: 16px;
    color: #ddd;
    text-shadow: 1px 2px 3px var(--black);
}
.extra-genre > span i:hover{color: var(--web)};
.box-demo{position: relative;}
.demo_img{
    width: 200px; height: auto;
}
.demo_name{
    text-transform: capitalize;
    width: 198px;
    padding: 8px 3px;
    margin-top: 14px;
    color: #fff;
    background: rgba(0,0,0,0.8);
    font-size: 18px;
    font-weight: 600;
}
.wrap_row1 p{
    background: #494848;
    padding: 5px 4px;
    border-radius: 3px;
    margin-top: 20px;
    display: block;
    color: #ddd;
}
.demo_chap{
    font-weight: 500;
    color: var(--white);
}
.demo_comic{
    position: absolute;
    top: 15px;
    right: 6px;
    color: var(--white);
    background:rgb(27, 14, 99);
    padding: 4px 6px;
    border-radius: 3px;
    transform: rotate(45deg);
    font-style: italic;
    text-shadow: 1px 2px 3px var(--black);
}
.box-demo .wrap_row2{
    color: #f5e3e3;
    display: block;
    text-transform: capitalize;
    display: none;
}
.box-demo .wrap_row2 span > span{
    font-size: 18px;
    display: block;
    gap: 4px 6px;
    width: 184px;
    text-shadow: 1px 2px 3px var(--black);
}
#array_api{
    bottom: 60px;
    text-decoration: none;
}
.comic_current {
    background: rgba(0,0,0,0.4);
    color: #202020;
    padding: 12px;
}
#web-genre{
    background: rgb(65, 64, 64);
    padding: 12px;
    position: fixed;
    top: -100%; right: 0; left: 0;
    width: 1200px;
    margin: 0 auto;
    z-index: 999;
    transition: 0.6s;
}
#web-genre  .web-genre_head{
    font-size: 18px;
    font-weight: 500;
    color: var(--white);
    text-transform: capitalize;
    padding-left: 20px;
}
.web-genre_head  span{
    font-size: 24px;
    font-weight: 700;
    color:rgb(244, 244, 247);
    text-shadow: 1px 2px 3px var(--black);
    padding-left: 20px;
}
#list-genre{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    flex-wrap: wrap;
    gap: 8px 4px;
    padding: 8px;
    list-style: none;
    text-transform: capitalize;
    margin: 30px auto;
    max-height: 320px;
    overflow-y: scroll;
}
#list-genre > li{
    border: 1px solid #413f3f;
    padding: 6px 8px;
    color: var(--white);
    text-shadow: 1px 2px 3px var(--black);
    background: rgb(58, 57, 57);
    border-radius: 5px;
    cursor: pointer;
}
#list-genre > li a{
    display: block;
    padding: 6px 8px;
    text-decoration: none;
    color: var(--white);
}
#list-genre > li:hover{
    background: rgba(0,0,0,0.5);
}
#list-genre > li.choose-btn{
    background: rgba(0,0,0,0.3);
}
.web-genre_type{
    display: flex;
    justify-content: flex-end;
    gap: 20px;
    padding: 12px;
    margin-top: 8px;
    background:rgb(78, 78, 78);
    color: #ddd;
}
.web-genre_type p{font-size: 18px;}
.web-genre_type div{
    display: flex;
    gap: 8px;
}
.web-genre_type div span{
    border: 1px solid #ccc;
    border-radius: 15px;
    padding: 4px 8px;
    cursor: pointer;
    text-align: center;
}
.web-genre_type div span:hover{
    background:rgb(58, 57, 57)
}
.web-genre_type div span.choose{
    background:rgb(27, 14, 99)
}
/* ------------------------------------------------------------------- */
#web-extra{
    position: fixed;
    bottom: 20px; right: 20px;
    cursor: pointer;
}
#web-extra > i:hover{
    color: var(--web);
}
#web-extra> i{
    font-size: 44px;
    color: rgb(245, 240, 240);
    text-shadow: 1px 2px 3px var(--web);
}